<div class="header">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Candidate</a>
  <a routerLink="position" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Position</a>
  <a routerLink="country" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Country</a>
  <a routerLink="country/result" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Country Result</a>
  <a routerLink="country/city1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 1</a>
  <a routerLink="country/city1/result" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 1 Result</a>
  <a routerLink="country/city2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 2</a>
  <a routerLink="country/city2/result" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 2 Result</a>
  <a routerLink="country/city3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 3</a>
  <a routerLink="country/city3/result" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City 3 Result</a>
  <a routerLink="country/fullResult" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Result</a>
</div>

<router-outlet></router-outlet>