.header{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--silver);
    margin-bottom: 15px;
    box-shadow: 0 2px 4px  var(--black);
}

.header a{
    padding: 8px ;
    color: white;
    border: none;
    background-color: var(--green);
    border-radius: 15px 7px 15px 7px;
    margin:7px ;
    text-transform: uppercase;
    width: 16%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header a:hover{
    background-color: var(--black);
}


.active{
    background-color: var(--black) !important;
}

a.active {
    background-color: var(--black)
  }